body {
  padding: 0;
  margin: 0; }

#container {
  width: 100%; }

#content {
  width: 100%;
  padding: 75px 100px;
  box-sizing: border-box;
  background: lightgray; }
  #content .latestreview {
    width: 960px;
    height: 540px;
    background: black;
    margin: 0 auto;
    position: relative; }
    #content .latestreview .starrating {
      border-top: 1px solid yellow;
      border-right: 1px solid yellow;
      color: yellow;
      padding: 5px;
      width: 20%;
      font-size: 24px;
      text-align: center;
      bottom: 50px;
      position: absolute; }
    #content .latestreview .title {
      width: 960px;
      height: 50px;
      line-height: 40px;
      bottom: 0;
      position: absolute;
      padding: 5px 15px;
      box-sizing: border-box;
      color: white;
      font-size: 24px;
      border-top: 1px solid white; }

#nav {
  background-color: black;
  width: 100%;
  height: 70px;
  padding: 10px 100px;
  box-sizing: border-box;
  line-height: 50px; }
  #nav div {
    height: 50px;
    display: inline-block;
    vertical-align: middle; }
    #nav div img {
      width: 50px; }
  #nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 24px;
    vertical-align: middle; }
  #nav ul {
    float: right;
    list-style-type: none;
    font-size: 24px;
    line-height: 0; }
    #nav ul li {
      float: left;
      margin-left: 30px; }

#footer {
  background-color: black;
  width: 100%;
  height: 70px;
  padding: 10px 100px;
  box-sizing: border-box;
  line-height: 50px; }
  #footer span.footer {
    color: white; }

.slidercontainer .slider {
  margin: 0 100px;
  height: 582px; }
  .slidercontainer .slider img {
    width: 100%;
    height: auto; }

.slidercontainer .slick-slide {
  margin: 0 20px; }

.slidercontainer .slick-list {
  margin: 0 -20px; }
